@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color: #00a69c;
  scroll-behavior: smooth;
  margin: unset;
}

header {
  max-width: 940px;
  margin: auto;
  display: flex;
  flex-flow: row;
  padding-top: 2rem;
  justify-content: space-between;
}

section {
  display: flex;
  flex-flow: wrap;
  padding: 3rem 0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

hr {
  height: 4px;
  border: none;
  background-color: #00a69c;
  border-radius: 1rem;
  width: 100%;
}

a {
  margin: unset;
  font-weight: bold;
  color: unset;
  text-decoration: none;
  transition:opacity 100ms linear;
}

a:hover {
  opacity: 0.8;
}

h1 {
  font-size: 3rem;
  margin: unset;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  margin: unset;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  filter: opacity(0.8);
}

.cta-img {
  max-width: 512px;
}

.brand {
  padding-left: 0.5rem;
}

.icon {
  transform: translatey(0px);
  transition: transform 100ms linear;
}

.icon:hover {
  transform: translatey(-2px);
}

.menu {
  display: flex;
  flex-flow: row;
  opacity: 0.5;
  transition: opacity 100ms linear;
  transition-delay: 1s;
  height: max-content;
  margin: auto 0px;
}

.menu:hover {
  opacity: 1;
  transition-delay: 0s;
}

.menu-item {
  padding-right: 1rem;
  text-transform: uppercase;
}

.fit-content {
  width: max-content;
  margin: auto;
}

.row {
  display: flex;
  flex-flow: row;
}

.wrapper {
  max-width: 940px;
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.half {
  max-width: calc(50% - 1rem);
  width: 100%;
}

.half:nth-child(odd) {
  padding-right: 2rem;
}

.margin-auto {
  margin: auto;
}

.services {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.service {
  width: 40%;
  margin: 2rem auto;
  text-align: center;
}

.service-icon {
  width: 50%;
  margin: 0px 25%;
}

.service-icon {
  transform: translatey(0px);
  transition: transform 100ms linear;
}

.service-icon:hover {
  transform: translatey(-2px);
}

.text-center {
  text-align: center;
}

.icon {
  max-height: 64px;
}

.hero-title {
  text-transform: uppercase;
  font-size: 4rem !important;
}

.hero-subtitle {
  font-weight: 300;
  letter-spacing: 10px
}

.contact-text {
  text-align: center;
}

.contact-icon {
  height: 32px;
  padding: 0.5rem 1rem;
}

.contact-column .row {
  justify-content: center;
}

.hero-cta {
  text-align: center;
  margin: auto;
  max-width: 80%;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.hero {
  background-image: url(valley.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 84px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(50% + 16px) calc(100% - 16px), 50% 100%, calc(50% - 16px) calc(100% - 16px), 0 calc(100% - 16px));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(50% + 16px) calc(100% - 16px), 50% 100%, calc(50% - 16px) calc(100% - 16px), 0 calc(100% - 16px));
}

.button {
  padding: 0.25rem 1rem;
  border-radius: 8px;
  border: 4px solid #00a69c;
  background-color: white;
  width: max-content;
  margin: auto;
  transform: translatey(0px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 100ms, color 100ms, transform 100ms linear;
}

.button-sm, h3 {
  margin: 0.25rem;
}

.button-sm {
  padding: 0rem 0.5rem;
  border-radius: 4px;
  border: 2px solid #00a69c;
  background-color: white;
  width: max-content;
  margin: auto;
  transform: translatey(0px);
  background-color: #00a69c;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-sm:hover {
  padding: 0rem 0.5rem;
  border-radius: 4px;
  border: 2px solid #00a69c;
  background-color: white;
  width: max-content;
  color: #00a69c;
  margin: auto;
  transform: translatey(0px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 100ms, color 100ms, transform 100ms linear;
}

.button-padded {
  padding: 0.25rem 1rem;
  margin: auto;
  margin-bottom: 1rem;
  width: 250px;
  border-radius: 8px;
  border: 4px solid #00a69c;
  background-color: white;
  transform: translatey(0px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 100ms, color 100ms, transform 100ms linear;
}

.button-padded:hover {
  transform: translatey(2px);
  background-color: #00a69c;
}

.button-padded:hover .contact-text {
  color: white;
}

.button-padded:hover .contact-icon {
  filter: invert(1)saturate(0)brightness(2);
}

.button:hover {
  transform: translatey(2px);
  background-color: #00a69c;
}

.button:hover h2 {
  color: white;
}

.w20 {
  width: 20%;
  margin-right: 80%;
}
  .contact-subheader {text-transform: capitalize;
  }

@media only screen and (max-width: 767px) {
  .contact-subheader {
    max-width: 350px;
    margin: auto;
  }

  h1 {
    font-size: 2.5rem;
    margin: unset;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .half {
    max-width: unset;
    width: 100%;
    padding: 2rem 0rem;
  }

  .half:nth-child(odd) {
    padding-right: unset;
  }

  .hero-title {
    text-transform: uppercase;
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 1.5rem;
    margin: unset;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .menu {
    flex-flow: column;
    text-align: right;
  }

  .services {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .service {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
    max-width: 300px;
  }

  .form-button {
    width: 100% !important;
  }

  .cta-img {
    max-width: 512px;
    width: 80vw;
  }

  .brand {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .icon {
    max-height: unset;
    height: 100px;
    margin: auto;
    margin-left: 1rem;
  }

  .service-icon {
    width: 50%;
    max-width: 200px;
    margin: 0px 25%;
  }
}
